# Домашнее задание №3

Тема "Part-of-Speech разметка, NER , извлечение отношений."

Используем предобработанные в рамках 1-ого домашнего задания датасет df.pkl. Используем столбец 'clean_tweet'.

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from gensim.models import Word2Vec
import sklearn
import numpy as np
import re

In [2]:
# Загрузим сохраненные данные из предыдущей домашней работы
combine_df = pd.read_pickle("df.pkl")
combine_df.head(3)

   id  ...                                   tweet_lemmatized
0   1  ...  [father, dysfunctional, selfish, drag, kid, dy...
1   2  ...  [thanks, lyft, credit, use, cause, offer, whee...
2   3  ...                                  [bihday, majesty]

[3 rows x 8 columns]

## Задание 1

Используя библиотеку Spacy, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? (Учтите, что max_word_limit_spacy для Spacy = 1000000)

In [3]:
import spacy
from spacy import displacy
# Load English tokenizer, tagger, parser, NER and word vectors
nlp = spacy.load("en_core_web_sm")

In [4]:
# Функция подсчета именованных сущностей и их типов
def add_to_dict(dict_, word):
  if word in dict_.keys():
    dict_[word] += 1
  else:
    dict_[word] = 1

In [5]:
# Проверим работу на небольшом массиве текста

text = ("When Sebastian Thrun started working on self-driving cars at "
        "Google in 2007, few people outside of the company took him "
        "seriously. “I can tell you very senior CEOs of major American "
        "car companies would shake my hand and turn away because I wasn’t "
        "worth talking to,” said Thrun, in an interview with recode earlier "
        "this week.")

doc = nlp(text)

# Analyze syntax
print("Noun phrases:", [chunk.text for chunk in doc.noun_chunks])
print("Verbs:", [token.lemma_ for token in doc if token.pos_ == "VERB"])

# Find named entities, phrases and concepts
for entity in doc.ents:
    print(entity.text, entity.label_)

Noun phrases: ['Sebastian Thrun', 'self-driving cars', 'Google', 'few people', 'the company', 'him', 'I', 'you', 'very senior CEOs', 'major American car companies', 'my hand', 'I', 'Thrun', 'an interview', 'recode']
Verbs: ['start', 'work', 'drive', 'take', 'can', 'tell', 'would', 'shake', 'turn', 'talk', 'say']
Sebastian NORP
Google ORG
2007 DATE
American NORP
earlier this week DATE

In [6]:
# Собираем все твиты в одну строку
text =  " ".join(combine_df['clean_tweet'].values)

In [7]:
ent_dict = {}
ent_types_dict = {}
# Проходим по всем твитам
%time
doc = nlp(text[:1000000])
# Проходим по всем именованным сущностям в text и 
# добавляем в соответствующие словари эти сущности и их типы с подсчетом количества
for entity in doc.ents:
  add_to_dict(ent_dict, entity.text)
  add_to_dict(ent_types_dict, entity.label_)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.15 µs

In [8]:
# Для удобства преобразуем словари в датафреймы
ent_types_df = pd.DataFrame.from_dict(ent_types_dict, columns=['cnt'], orient='index')
ent_df = pd.DataFrame.from_dict(ent_dict, columns=['cnt'], orient='index')
ent_types_df.sort_values(by='cnt', ascending=False, inplace=True)
ent_df.sort_values(by='cnt', ascending=False, inplace=True)

In [9]:
# ТОП-20 популярных NER в combine_df датасете
ent_df.head(20)

            cnt
today       435
bihday      294
first       168
tomorrow    166
friday      165
one         162
summer      129
sunday      125
tonight     122
saturday     80
fathersday   74
morning      70
monday       69
america      65
two          57
london       52
day          51
yoyour       47
us           46
orlando      46

In [10]:
# Самый популярный тип NER - DATE
ent_types_df.head(5)

         cnt
DATE    3117
PERSON  2579
GPE     1487
ORG     1030
TIME     569

С помощью Spacy выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?

In [11]:
# train_df содержал твиты с id от 1 до 31962, а test_df - от 31963 до 49159 включительно
train_df = combine_df.loc[combine_df.id < 31963]
test_df = combine_df.loc[combine_df.id > 31963]

In [12]:
 # Собираем все твиты в одну строку
train =  " ".join(train_df['clean_tweet'].values)
test =  " ".join(test_df['clean_tweet'].values)
train = train[:1000000]
test = test[:1000000]
print(len(train), len(test))

1000000 1000000

In [13]:
train_person_dict = {}
train_org_dict = {}

%time
doc = nlp(train)
# Проходим по всем именованным сущностям в text и добавляем в train_person_dict
# сущности типа PERSON, а в train_org_dict - ORG и подсчитываем количество
for entity in doc.ents:
  if entity.label_ == 'PERSON':
    add_to_dict(train_person_dict, entity.text)
  if entity.label_ == 'ORG':
    add_to_dict(train_org_dict, entity.text)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.39 µs

In [14]:
# Для удобства преобразуем словари в датафреймы
train_person_df = pd.DataFrame.from_dict(train_person_dict, columns=['cnt'], orient='index')
train_org_df = pd.DataFrame.from_dict(train_org_dict, columns=['cnt'], orient='index')
train_person_df.sort_values(by='cnt', ascending=False, inplace=True)
train_org_df.sort_values(by='cnt', ascending=False, inplace=True)

In [15]:
# Топ-20 обсуждаемых персон в train
train_person_df.head(20)

                   cnt
selfie              29
hu                  23
tbt                 17
hillary             15
don                 14
christina grimmie   10
brexit               9
ripchristina         9
stas                 9
yo                   8
ma                   8
donald trump         8
xx                   8
jo cox               7
lebron               7
ali                  7
punjab               6
sta                  6
carl paladino        6
edm dj               6

In [16]:
# Топ-20 обсуждаемых организаций в train
train_org_df.head(20)

                  cnt
tbt                26
gop                18
nba                17
aap                14
fed                13
islam              11
sma                 9
nd                  9
eu                  9
apple               8
social analytics    7
cnn                 7
bbc                 7
bogota colombia     7
ios                 6
un                  6
yr                  5
navy                5
house               5
congress            4

In [17]:
test_person_dict = {}
test_org_dict = {}
# Проходим по всем твитам
%time
doc = nlp(test)
# Проходим по всем именованным сущностям в каждом твите и добавляем в test_person_dict
# сущности типа PERSON, а в test_org_dict - ORG и подсчитываем количество
for entity in doc.ents:
  if entity.label_ == 'PERSON':
    add_to_dict(test_person_dict, entity.text)
  if entity.label_ == 'ORG':
    add_to_dict(test_org_dict, entity.text)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs

In [18]:
# Для удобства преобразуем словари в датафреймы
test_person_df = pd.DataFrame.from_dict(test_person_dict, columns=['cnt'], orient='index')
test_org_df = pd.DataFrame.from_dict(test_org_dict, columns=['cnt'], orient='index')
test_person_df.sort_values(by='cnt', ascending=False, inplace=True)
test_org_df.sort_values(by='cnt', ascending=False, inplace=True)

In [19]:
# Топ-20 обсуждаемых персон в test
test_person_df.head(20)

                   cnt
selfie              40
hu                  30
tbt                 30
trump               20
yo                  13
xxx                 12
don                 11
christina grimmie   10
jesus               10
regrann             10
stas                 9
ripchristina         9
clinton              9
xx                   9
jo cox               9
gonna                9
ma                   8
donald trump         8
donald               8
lol                  7

In [20]:
# Топ-20 обсуждаемых организаций в test
test_org_df.head(20)

                 cnt
tbt               22
gop               19
nba               15
aap                9
nd                 9
nike               8
cnn                8
amazon             8
na                 8
nra                7
fbi                7
sma                7
eu                 7
islam              7
congress           5
acc                5
yr                 5
ios                5
un                 5
bogota colombia    5

Видим, что в топах присутствует мусор

## Задание 2

Используя библиотеку nltk, вывести ТОП-20 популярных NER в combine_df датасете. Какой тип NER (ORG, GPE, PERSON и тд) оказался самым популярным? Для данного задания используем ограничение на количество символов во входном датасете (max_word_limit_spacy = 1000000), чтобы иметь возможность сравнить результаты работы Spacy и nltk. Обратите внимание, что nltk чувствителен к регистру.

In [21]:
import nltk
from nltk.corpus import names
# Устанавливаем необходимые ресурсы
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')
nltk.download('maxent_ne_chunker') 
nltk.download('words')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [22]:
# Проверим работу на небольшом массиве текста

text = ("When Sebastian Thrun started working on self-driving cars at "
        "Google in 2007, few people outside of the company took him "
        "seriously. “I can tell you very senior CEOs of major American "
        "car companies would shake my hand and turn away because I wasn’t "
        "worth talking to,” said Thrun, in an interview with recode earlier "
        "this week.")

for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(text))):
  if hasattr(chunk, 'label'):
    print((' '.join(c[0] for c in chunk), chunk.label()))

('Sebastian Thrun', 'PERSON')
('Google', 'ORGANIZATION')
('CEOs', 'ORGANIZATION')
('American', 'GPE')
('Thrun', 'PERSON')

In [23]:
# Собираем все твиты в одну строку
text =  " ".join(combine_df['clean_tweet'].values)
text = text[:1000000]

In [24]:
# Так как nltk обнаруживает именованные сущности только если они написаны с заглавной буквы, 
# нужно первые буквы всех слов в text перевести в верхнй регистр
text = text.title()

In [25]:
ent_nltk_dict = {}
ent_nltk_types_dict = {}

for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(text))):
  if hasattr(chunk, 'label'):
    add_to_dict(ent_nltk_dict, (' '.join(c[0] for c in chunk)))
    add_to_dict(ent_nltk_types_dict, chunk.label())

In [26]:
ent_nltk_dict

{'Father': 32,
 'Kids': 2,
 'Dysfunction Run Thanks For Lyft Credit': 1,
 'Offer Wheelchair': 1,
 'Pdx': 1,
 'Yoyou': 141,
 'Yoyour': 145,
 'Motivation Huge Fan Fare And Big': 1,
 'Chaos': 1,
 'Pay': 2,
 'Allshowandnogo Camping Tomorrow Danny': 1,
 'Next School Year': 1,
 'Exams': 2,
 'School Exams Hate Imagine Actorslife Revolutionschool': 1,
 'Land Allin Cavs': 1,
 'Ireland': 4,
 'Climbed From Previous': 1,
 'Selfish Orlando Standwithorlando Pulseshooting Orlandoshooting Biggerproblems Selfish': 1,
 'Values Love Get': 1,
 'My Daddy': 1,
 'Calls Michigan Middle School': 1,
 'Wall Chant Tcot No': 1,
 'Australia': 2,
 'Yugyoem Omg Am Thankful': 1,
 'Paner Thankful Positive Retweet': 1,
 'Smiles All Around Via Ig User Cookies Make People': 1,
 'Chemicals Euro': 1,
 'Conceded Goal': 1,
 'Fat Rooney Who Gave Away Free Kick Knowing Bale': 1,
 'Sad Little Dude': 1,
 'Cats': 3,
 'Funny Laughs Product': 1,
 'Weekend Time': 1,
 'Drink Up Lumpy Says Am': 1,
 'Lumpy Tgif Ff': 1,
 'Vendor For Upsideofflorida Shopalyssas Love': 1,
 'Media': 4,
 'Antalya': 2,
 'Turkey': 2,
 'Great Panel': 1,
 'Mediatization Of The Public Service Ica Happy': 1,
 'Nightclub': 1,
 'Good Night': 1,
 'Man Actions': 1,
 'No': 11,
 'Positivevibes Hawaiian Rip': 1,
 'Fellow Nohern Ireland Fan Who Sadley': 1,
 'Away Tonight Gawa Forever Singing': 1,
 'Cheering': 1,
 'Hard': 18,
 'Cloudy Weather Disabling Oxygen': 1,
 'Will': 100,
 'Dalat Ripinkylife': 1,
 'Hours': 6,
 'Valravn Line': 1,
 'Sunshine Thankful': 2,
 'Awhile Bookworm Ontothenextnovel Yup Being Knicks Fan Is Hard So': 1,
 'Just Be An Nba': 1,
 'Playoffs Roll Around There Is Life': 1,
 'Social Networking Embrace Each': 2,
 'Same': 14,
 'Blooms Flowers Grow Gardening Iphonesia Bliss Blooms Basilicabotanica Am Amazing Am Positive': 1,
 'Best Pa About Life': 1,
 'Abc': 2,
 'Ready Remove': 1,
 'Victums Frm Pulseclub Prayfororlando For Her': 1,
 'Her Nose Job': 1,
 'Concelebrate At The Albanpilgrimage For The First': 1,
 'Scum Baggery Begin': 1,
 'Dolores Capas Tarlac Scourge': 1,
 'Baroque Pieces': 1,
 'Piano Beyond Belief Lets Fight Against Love Peace Happy Father': 1,
 'Rayos Video Fathers': 1,
 'Babe Ascot Fashion Monochrome Style': 1,
 'Weekend': 11,
 'Selfie Yolo Xoxo': 1,
 'Happy': 43,
 'Work Conference': 14,
 'Development Organizations Work Mindset Christina Grimmie': 1,
 'Being Shot Via Christinarip': 1,
 'Ready To Dance Roar': 1,
 'Sad My Wife Whom Adore Had': 1,
 'Poland Show': 1,
 'Surgery Her Name Is Bridget': 1,
 'Chatiado Celebrate': 1,
 'Fatherly Role': 1,
 'Happy Hour The': 1,
 'White Establishment': 2,
 'Blk Folx': 2,
 'Greatness': 1,
 'Journey Begins Travel Yeah': 1,
 'New Brochures': 1,
 'Arrived How Exciting Aworks Solutions': 1,
 'Much Stuff Happening': 1,
 'Florida': 8,
 'Orlando Shooting': 3,
 'Old Kid Ferrari': 1,
 'Sake Of The Championship This Gp': 1,
 'Point Rb Ferrari Mercs Aced My': 1,
 'Into Udtapunjab Leak Points Finger At Amarinder Aap': 1,
 'People White': 1,
 'Race Identity Med': 1,
 'Shown': 1,
 'Name Calling': 1,
 'Bar': 2,
 'Strong Felixfoisgolf': 1,
 'Include Wateringhole Cave Mountaintop Campfire': 1,
 'Altright': 2,
 'Men Into Whitesupremacy Carrying Gun Would': 1,
 'Helped': 1,
 'Control': 4,
 'Black Market Terrorism Will Get Worse': 1,
 'Woohoo Just': 1,
 'Being': 20,
 'Far Away': 2,
 'Family Members Hus Ready': 1,
 'Tonight': 9,
 'New Music': 1,
 'New': 74,
 'Announcement Midweek Newmusic Watchthisspace Guitar': 1,
 'Pm': 5,
 'Fuss': 1,
 'New Episodes Of On Offline': 1,
 'Very Nice': 2,
 'Long': 13,
 'Will Be Back': 3,
 'Again': 8,
 'Guitar For Us': 1,
 'Campfire Summeime Memories Omg': 1,
 'Work': 16,
 'Work Done': 1,
 'Of Course Memories Shall Will Always Hope': 1,
 'Will Get': 2,
 'Gon': 20,
 'Happen Anytime Soon Model Love Yoyou Take': 1,
 'Fat Naked Japanese Girls Hump': 1,
 'Gbp Get': 2,
 'Shop Cool Home Fun': 4,
 'Sick People Out': 1,
 'Trump Calling': 1,
 'Obama': 9,
 'Resign': 1,
 'Orlando': 42,
 'Boy Has Point Years And': 1,
 'Change': 3,
 'Clears Barrier Jumps': 1,
 'Fresh Week High Blog Silver Gold': 1,
 'La Tomorrow Am Thankful': 1,
 'Good Friends Thankful Positive': 1,
 'Christinagrimmie Is Gone': 1,
 'Man Destroyed Prayfororlando': 1,
 'Dis From': 1,
 'Sta Baking': 1,
 'Vigilfororlando Harp Clonakilty Rip Via': 1,
 'Interested In Linguistics That Does Not Address Race Racism': 1,
 'Power Raciolinguistics Brings': 1,
 'Recovered Thanks': 1,
 'Apple Music Marvel Song Musica Weed Ripchristina Adele Dance Vine': 1,
 'Mocked Obama': 1,
 'Being Black Brexit': 1,
 'Spell Of Brexit Referendum Commerzbank Blog Silver Gold Forex Amazing Health Benefits Of Cucumbers Healthy': 1,
 'Altwaystoheal Model Love Yoyou Take': 1,
 'Ofw Pinoy Followme Igers Instagood Smile Love Toradora Anime Animeedit': 1,
 'Breakups Alone Lonely Laps': 1,
 'Of Pool Ride Done And Picked Up Gym Membership Form Cotd': 1,
 'Climb Racing Angry Polar Bear Climb': 14,
 'Cold': 32,
 'Muslim Assassinating': 1,
 'Snappy Waiting': 1,
 'Football Football': 1,
 'Fringes Qcbags Summer Nochebuena Lasvegas Usa Las Vegas Strip Ma Fleurette Instaboy Instaman Sefie Septum Friend Smiles Blackandwhite Sad': 1,
 'Birds Haiku Lines Micropoetry Yeah New Buttons': 1,
 'Mail For Me': 1,
 'Pretty Happy': 1,
 'Female Moose': 1,
 'Weston Moose Was': 1,
 'Driver Is Ok Crews Removing Animal': 1,
 'Afterpas Made': 1,
 'Japan': 5,
 'Cawaii Love': 1,
 'Strawberry Tomato': 1,
 'Trump': 14,
 'Republican': 4,
 'Trump Has Fuhered Need': 1,
 'Way': 8,
 'Always': 5,
 'Date': 2,
 'Fbi Became Corrupted': 1,
 'Makes Me': 5,
 'Pyout Sachintendyoulkar': 1,
 'Chris Evans Great Actor': 1,
 'Human Chrisevans': 1,
 'Gay Nightclub': 2,
 'Album Newalbum Indie Guitars Echobelly Retweeted': 1,
 'Week Sma At Blog Silver Gold Forex Have Had': 1,
 'Worst': 5,
 'Sa Best': 1,
 'Ladies Happiest Place': 1,
 'Eah Disneysmagickingdom Disney Magickingdom Disneyland Orlando': 1,
 'Kinda': 1,
 'Humans Again': 1,
 'Had Would': 2,
 'How Great Blain Hair': 1,
 'Nite Happy Listen': 1,
 'Her Most Amazing': 6,
 'Has Been Effo Stored Up': 1,
 'Past': 1,
 'Michelleobama Gorilla': 1,
 'Long Thought': 1,
 'Of Black People As No Bet Newarkfestival This': 1,
 'Us': 53,
 'Netflix Mochithepug Puglife': 1,
 'Business As Usual Hbd': 1,
 'Dick Syouckin Teqyouila Lovin Slyout Woyouldnt': 2,
 'Other Way Jyoustalillate Byoutstillontime': 1,
 'Smaller Hands Show Barry Probably': 1,
 'Knicks Game': 1,
 'Golf Good': 1,
 'Florida Challenges Aap Claim': 1,
 'Punjabis Are Drugaddicts': 3,
 'Tracerequest Sending My Deepest': 1,
 'Orlando Gay Families Zimbabwe Gay': 1,
 'Hea Touched New Selfie Guy Mato': 1,
 'Yoyour Soed': 1,
 'All My Nut Bolts Bloke Aww': 1,
 'Good Bing Bong Bing Bong': 6,
 'Months': 7,
 'Will Be': 11,
 'Live Am So Excited Vfest Summer Happy Th': 1,
 'Shane Robe Watson': 1,
 'Shane Watson Australia': 1,
 'Are Pointed Right Back': 1,
 'Sad': 29,
 'Have': 9,
 'Lead Whoknows Radio': 1,
 'Coldplay Tonight Oh': 1,
 'Me Terrorist': 1,
 'Nra With No Gun Control': 1,
 'Gloucesterrugby Very Sad': 1,
 'Everyone Is': 1,
 'Alone Up Down Fine Dandy Lonely Exuberant': 1,
 'Halffull Halfempty Mikeashley Sposdirectshame Perhapse Good Example': 1,
 'Within Europe Euref Remain Angry Birds Stella Bad Princess Birds Stella Bad Princess Birdsstellabadprincess Time Post Wed Check Incredibly': 1,
 'Great Memories With Great': 1,
 'Rip': 2,
 'Cared': 1,
 'Hilarious Am Already Blocked': 1,
 'Paicularly Difficult Question': 1,
 'Victims And Their Families Orlando': 2,
 'Manner': 2,
 'Of Traveling Margaret Lee Runbeck': 1,
 'Quotes Inspirational Safe Ways': 1,
 'Makingbeats': 1,
 'Istandard Akaipro Wedding': 1,
 'Forward': 35,
 'Cipd Ireland Conference Workshop Cpd': 1,
 'Twitch Follower Hypu Stream Tomorrow Woareds Are': 1,
 'Yoyou Vearebal Abyouse Hyou Love Adyoult Teen': 1,
 'Country Went': 1,
 'People Bring Bomb': 1,
 'Stadium Come': 1,
 'Football Am Thankful For Cats Thankful': 1,
 'My Bae Swalscha Dejeuner Lunch Happiness Love Amoureux Ilovethesecret': 1,
 'Libtard': 33,
 'Libtard Sjw Liberal': 18,
 'Pole Bgp Rozthediva Blackgirlspole Bodyandpole Live Love Argentina Attack Bull': 1,
 'City Each Side': 5,
 'Hypocrite Always Keep': 1,
 'Bouncing Ball With This Nimrod': 1,
 'Nohcarolina Bull Up': 1,
 'Whe Building Polar Bear Climb Racing Angry Polar Bear Climb': 1,
 'Reelection Money Ksleg My Hea': 1,
 'Orlando Right': 1,
 'Could Have Easily': 1,
 'Anywhere Sad Alreemgroup Aly Alshahawy Ad Cute Summer Photographerdubai Sun Hair': 1,
 'Only Place With Action Here Is Montreal Sad': 1,
 'Old And Washed Up Am Spirited Am Positive Affirmation Am Thankful For Enteainment Thankful': 1,
 'Wimbledon Happy Man Success Model Entrepreneur Speaker Ff Fresh Confident Fashion Gala Moments': 1,
 'Lucky Chinatown Mall Binondo This Really': 1,
 'Piss Am So Angry': 1,
 'Show Who': 1,
 'Who Isn': 1,
 'Complete And Utter': 1,
 'Trash America Voted Against Hate Voted Against Voted Against Vot Fathers': 1,
 'Amazing Dads': 4,
 'Enjoy Your Does Magnettherapy Really Work Altwaystoheal Healing Healthy Sebbo Has': 1,
 'Your': 4,
 'Branch': 1,
 'Screening Will': 1,
 'Will Sing': 1,
 'Songs': 1,
 'Shock Treatment': 1,
 'Can': 13,
 'Way Toraya Bus Alamindah': 1,
 'White Music Carrieunderwood Model Love Yoyou Take': 1,
 'Bridpo Food Beer Fest Back': 1,
 'The Campsite': 1,
 'Starstruck Moved': 1,
 'Grin Repost': 1,
 'Ocean Summer Life Family Sydney Want': 1,
 'Quote Quotes Love Pakistan Allin Girls Boys Fashion Feelings Am Thankful': 1,
 'Thankful Positive Oh My God': 1,
 'Him': 15,
 'Milan Stone Roses Done': 1,
 'Club': 1,
 'Reason': 6,
 'Crush': 1,
 'Buzz Moment Ride Love Crush Dating Hookup App My': 1,
 'Classez Yay Risay Risaypls': 1,
 'Be Said Am Legendary Am Positive': 1,
 'United States': 9,
 'Of America': 1,
 'Open Door': 1,
 'Woman': 6,
 'Your Having Good Weekend': 1,
 'Happy Thankful': 1,
 'Jeffreycwilliams': 1,
 'Good Hea': 1,
 'Help': 2,
 'Hu Buttrue': 1,
 'Happiest Baby': 1,
 'Smiles Babygirl Beautiful Niece': 1,
 'Xo Are': 1,
 'Oneteamlincoln Are': 1,
 'Carowinds': 1,
 'Rockthepark Timetogetmyjesuson Already Bought My Finding Dory Ticket': 1,
 'Every Minute': 1,
 'Lose Sixty Seconds': 1,
 'Of Happiness And You': 1,
 'Same Sanjapan Animeconvention': 1,
 'Moto Tech Announcements Moto Question Make': 1,
 'Count Mondaymotivation Livelifetothefullest Healthy': 1,
 'Anna Classmate Friends': 1,
 'Oyour Event Brentwood': 1,
 'Little Peoples Happyhappy': 1,
 'Pharrell Williams Pharrellwilliams Lyrics Happy At Ork Conference': 1,
 'Development Organizations': 1,
 'Family': 10,
 'Gutted Rosie Yayyy Trailer Morrow Fever Super Watch Fancy Tails Vine Mad Mad Teeth Bite': 1,
 'Dog Biting Dogbite Dogtreat Dreamcatcher Bull Up': 1,
 'Am So Ready': 1,
 'For Tomorrow': 1,
 'Memory': 1,
 'Of My Wonderful Dad Always': 1,
 'Strong Greatquotes': 1,
 'Dallas': 1,
 'See Is': 1,
 'Loop': 1,
 'Itako': 1,
 'Fine Little Sunshine Stickers Kind': 1,
 'Of': 5,
 'Calm Sunny Chubbygirl Glasses Finnishgirl Finn Buka Bersama Tma Family Yuhuuuuu Tma Risha Meylucky Others': 1,
 'Mayfair Townhouse': 1,
 'Biggest African': 1,
 'American Population': 1,
 'Same Old': 1,
 'Pussy Quicker These Days Shall Will': 1,
 'Time Comes Back Home': 1,
 'Love': 23,
 'How Many Times': 1,
 'Said Nothing Bluelivesmatter Draintheswamp Ferguson Sequoia': 1,
 'Week Bham Is': 1,
 'Paradeready Beyou Ofbham': 1,
 'Guys Who Play Dad Out': 1,
 'Bogummy Love': 1,
 'Clients Had Baby Goats': 1,
 'Cuddle Positivevibes Fresh': 1,
 'Mills Mall': 1,
 'Conjuring Get Ready': 1,
 'Readyornot': 1,
 'Change Eliminate Negativity And Choose To Live Positive': 1,
 'Aaahh Nabilah Looks So Arigatou Jkt': 1,
 'Very': 6,
 'Daaay Iwearbanana': 1,
 'Work Tomorrow For Me Self Employed': 1,
 'Smiles Corbinrayp Never Been More Appropriate Have Zero Idea': 1,
 'Scared Missyou': 1,
 'Magnificent': 1,
 'Fabric Just Bought Muzlin Sanasafinaz Noexchangepolicy Maybe Happy': 1,
 'Her Friend Joy Toddlerfriends Puresweetness Latergram Toddlerfun': 1,
 'Senseless': 2,
 'Opinion': 1,
 'Heard Him Say': 1,
 'Kept': 1,
 'Good Mood Flight': 1,
 'Off': 3,
 'Munich': 1,
 'For Interviews Pharrell': 1,
 'Netherlands': 2,
 'Yoyou Made Yoyous Proyoyoud Hv Been Reading Yoyoyou Are Words Assyoyoyou': 1,
 'Will Assoment': 1,
 'Of Petite Emotions Wish': 1,
 'Best Happiness Vs Joy Happiness Is': 1,
 'Hyou Joy': 1,
 'Never Leaves Real Tryou Twinklatinboys Na Slut Snapshot Hot Nasty Naughty Sexy Horny Shy Porn Nude Kinky': 1,
 'Thankful': 17,
 'Held Back Tears Have Cried Happy Tears': 1,
 'Week Tomorrow': 1,
 'Liverpool Stuck': 1,
 'Athens': 1,
 'Santorini': 1,
 'Windy': 1,
 'Land': 5,
 'The Launch Freaks Yum Dalston': 1,
 'Huge Crowd': 1,
 'Trump Am Thankful': 1,
 'Saturdays Thankful Positive Good God': 1,
 'Vegan Organic Fresh Fruit Organic Healthy': 1,
 'Firework Weeheeeee Blackpool Attack Bull': 1,
 'Amazing': 2,
 'Ready': 15,
 'Newblood Am Sad My Aunt': 1,
 'Funeral Horribly Ads': 1,
 'Us Cringe Would': 1,
 'Mind Robson Kanu': 1,
 'Decent Player Available': 1,
 'Free Transfer Too Come': 1,
 'Shoes': 1,
 'Watch Me Am Just Peon Poor Disabled Kill Me': 1,
 'Usa': 2,
 'Universe Does': 1,
 'Care Stephcurry Outburst': 1,
 'Can Christians': 2,
 'Nbafinals Am So': 1,
 'Grateful': 27,
 'Affirmations More Weeks': 1,
 'San Antonio Bound': 1,
 'Cant Wait': 1,
 'Brother Missyou Mybrotherskeeper Listen Up The Dying': 1,
 'Light Village Green Town Antisemitism Hocoschools Columbiamd Hocomd Hahaha This': 1,
 'Weird Hey': 1,
 'Yoyou Are Training Lover So Ask Yoyou': 1,
 'Apple Sexy': 1,
 'Fuck Directioner Niall Nialhoranfacts Niallerwins Hot': 1,
 'Dad Right': 1,
 'Sanya Whererefreshingbegins Guess Who Back Back Again Lifeaftersurgery Dog Dogslife Labrador Labradorretriever Lifeofsam Hey': 1,
 'Latest Updates': 2,
 'Glastofest': 1,
 'Successful Career Nba Finals Ambivalent Love Steph And Thompson': 1,
 'Doosh Lebron': 1,
 'Guillermo Check Out My': 1,
 'Yours Truly Mep Webseries Model Love Yoyou Take': 1,
 'Nazi Over Hatred Bigotry Being Found Juneteenth': 1,
 'Rich Ancestral Heritage Independence Hall River Gorilla': 1,
 'City Material': 7,
 'Leadership Embrace Kiss Donald Ass Is Pathetic This': 1,
 'Pay Pay Of Racism Hate Ripgop Love How Am So Mature For My Age Aww': 1,
 'Good Bing Bong Bing': 3,
 'Smile Instalike Instamood Instapic': 1,
 'Graffiti Dublin Ireland Music Vimeo Movie Video Europe People Flow Fun Rafalwojcicki Oitnbseason': 1,
 'Days': 12,
 'Iampossible': 2,
 'Out Happy': 1,
 'Sun': 8,
 'Yellowjackets Of The Neshl For Bhl Hockey Tony': 1,
 'Dad': 8,
 'Fathers': 22,
 'Am': 8,
 'Idiot Country Rock Bluegrass Beatles Love Pop Romance': 1,
 'Week': 8,
 'Brother Has': 1,
 'Alcohol Than Me Laugh Out Loud': 1,
 'Blaze Says': 1,
 'Tackle Movie Which Uncovers': 1,
 'Know Chill Relaxing Piano Music': 1,
 'Death People Stopthehate Ripchristina': 1,
 'Honest': 2,
 'Their Followers Hate Like Of My Family Was Really Born Into': 1,
 'Fuck': 9,
 'Me Cuz Got Money Get Up Get Get Enjoy Music': 1,
 'Music Best': 1,
 'Trump Ny Co Chair Makes Racist Remarks': 1,
 'Michelle Obama Fyi Tcot': 1,
 'Music As Therapy': 5,
 'Tool For Healing Altwaystoheal Healthy': 6,
 'Food Make Family Fight Mxm Delicious Sangria Salud Cheers': 1,
 'Pub Pembroke Have Fabulous Weekend Beautiful Souls': 1,
 'Am Feeling Overwhelmed': 1,
 'Look Down': 1,
 'See Million Reasons': 1,
 'Happy Again': 1,
 'Craig Back': 1,
 'Shane Lowry Hour': 1,
 'Pm Chippewa St Buffalo Anas Nimra Farishta Mawia Khushal': 1,
 'Marks Obtained Is Too Damn High My': 1,
 'Bachelorette': 1,
 'Nowine Suppoing Family God Chivalry Tradition': 1,
 'Pic Says': 1,
 'Young Girls': 1,
 'Void Of Meaning Beyond Cheap': 1,
 'Simply': 1,
 'Love Of It Love Success Work Business': 1,
 'Mom Torrington Lunch Afterschool Instadaily Yummy Withmom My Sister Am': 1,
 'Know Was': 1,
 'Nigga': 2,
 'Him Too': 1,
 'Wrong Shit Ride Out Ride Back Done': 1,
 'Bikes Fitness Cardio': 1,
 'See Adtr': 1,
 'Bae Tagsforlikes Me Food Friends Summer Swag Quotes Love God Girl Weekend Polaroid Followme Teen Win Job Payintheusa Polar Bear Climb Racing Angry Polar Bear Climb': 1,
 'Already': 5,
 'Stellar Girls Dreamy': 1,
 'Follow': 6,
 'Better Yay Wednesdaywisdom Forever Young': 1,
 'Luks Too Hot': 1,
 'Temper': 1,
 'Will Alwys': 1,
 'Fan Till My Lst Breath Do': 1,
 'Worry Bee Double Tap': 1,
 'Follow Me Beautiful Smooth Lifestyle Skin Instasize Fashion Lawofattraction': 1,
 'Turns Flat': 1,
 'Fuher Direction Blog Silver Gold Forex Training': 1,
 'New Employee': 1,
 'Fun Newblood': 1,
 'Puppy Eloise Sweetbabins Dog Growingup Cute Bihdaygirl Pigs Burn Alive': 1,
 'Saskatchewan': 1,
 'Barn Fire': 1,
 'Convince Me That Americans': 2,
 'Bear': 3,
 'My Beautiful Ladies': 1,
 'Baba Siddique Ifftar Pay': 1,
 'Mumbai Dono Ayenge': 1,
 'Hands Ombre Blue': 1,
 'See Warcraft Ugh Warcraft Cousins Reunited Family Fun Wellness': 1,
 'Duane Henry Should Be': 1,
 'Train Has': 1,
 'Moved So Am Binge Tweeting Have My Lover Stop Being Angry': 1,
 'Me Visit Us Lover Friend Astrologer Love': 3,
 'Troll': 1,
 'Blacklivesmatter Let': 1,
 'Nonsensical Rants Boos': 1,
 'Heaven': 7,
 'Creepy Awesome Are': 1,
 'Fire Escape Like Humans': 1,
 'Summev Zoo': 1,
 'Tiger Roar Tiger Annaswelshzoo': 1,
 'William James Xtra Have Happy': 1,
 'Good': 24,
 'Which': 3,
 'Held Accountable Stuck': 1,
 'Rat Race Find': 4,
 'Freedom Masterkeyexperience': 2,
 'Study Face Pizza Stole My Roommate Idea': 1,
 'Sister Sisteradventures Sister': 1,
 'Tomorrow Usn Rifle': 1,
 'Out So Ar': 1,
 'Closest': 1,
 'France': 6,
 'Euros Sta': 1,
 'Am Happy Happiness Minions No Elder Scrolls': 1,
 'Little Bit Cheeky Jax Soa': 1,
 'Eurogamer': 1,
 'Russell Beckwith Soon': 1,
 'Lyle Tapfoags': 1,
 'Nazis Studied American Race Laws For Inspiration': 1,
 'Family Daughter Father Desse Icecream Nothing': 1,
 'River Island Sale Shopping Spree': 1,
 'Retailtherapy Riverisland Shoppingqueen Alwayscheersyouup': 1,
 'House And Zoing Ziy Laundry Am Finally Free': 1,
 'Colds Am Happy Cleaning': 1,
 'Woohoo Sell Selling Buy Shop Shopping Am Thankful': 1,
 'Ice Cream Grown Up Chilled Biherism Absolutely Originated In Hateful Bigotry Altright Hatred Of Our African': 1,
 'American Potus': 1,
 'Sweets Instagood Idola Idol Followme Selfie All': 1,
 'America': 20,
 'Christinagrimmie': 1,
 'Orlando America': 1,
 'Brexit Angst Factor Helping Drive Down Interest': 1,
 'Germany': 4,
 'Eacbpm': 1,
 'Place': 3,
 'Dial Into Iiba Emea': 1,
 'Kayak Sup Snorkel Swim': 1,
 'Together Alohabeachbus Hawaii Explore Yoyou': 1,
 'Man Down': 1,
 'Years': 11,
 'Watch Him Change': 1,
 'Will Back': 1,
 'See Ya': 1,
 'Tacloban City': 1,
 'Won Any Olympics Medal Angry Birds Il Film Download Ita Hdtc Birds Download Film Il Ita': 1,
 'Model Urbex Topless Tits Mono Retweet Sexy Heels Ace Fo Woh Officer': 1,
 'Viral': 2,
 'Racist Chief': 1,
 'Married': 2,
 'Lewis Remains': 1,
 'Rangers Announcers': 1,
 'Out Chris': 1,
 'Soccer': 1,
 'Season': 8,
 'Broken Train Tickets Booked': 1,
 'Beautiful': 13,
 'Beachpark Beach Park': 1,
 'Being Fitted': 1,
 'Are Happy Ending Anime Love': 1,
 'Poet Bull Up': 1,
 'Tranquil Am Positive Affirmation': 1,
 'Any Upcoming New Track Pm Kpop Best Essentialoils': 1,
 'Anxiety Healthy Peace Altwaystoheal Wow': 1,
 'Nothing Better': 1,
 'Insult People': 1,
 'Twitter Thinking Maybe Should Have Bought': 1,
 'Gettingold': 1,
 'Album': 5,
 'Hour Away From Dripping Has Me': 1,
 'Together Snapshot Young Shy Kinky Wet Porn Hot Xxx Horny Snapchat Gaby China Love Girl Snapchat Flowers': 1,
 'Niggas Dont Go Looking': 2,
 'Shoes And Jewelry Safe Ways': 1,
 'Fatheare': 1,
 'Brownwood Am So': 1,
 'Affirmations My Forever Bestie Karaoke Friends Friendship Love Nofilter Instacool Instagood': 1,
 'Carlos Receptionist Th': 1,
 'Room Request': 1,
 'Usual Headed': 1,
 'My Peculiar Family Us Retail': 1,
 'Control Group Likely Rose': 1,
 'Danske Bank Blog Silver Gold Forex': 1,
 'Love Of My': 1,
 'Best Father': 1,
 'Increasingly Violent': 1,
 'Uk Has Gun Control Laws Feel For The Mp Family Friends Funny Or Simply So': 1,
 'Me': 19,
 'No One Has': 1,
 'Groom Her': 1,

In [27]:
ent_nltk_types_dict

{'FACILITY': 441,
 'GPE': 1841,
 'GSP': 15,
 'LOCATION': 28,
 'ORGANIZATION': 5640,
 'PERSON': 12208}

In [28]:
# Для удобства преобразуем словари в датафреймы
ent_nltk_types_df = pd.DataFrame.from_dict(ent_nltk_types_dict, columns=['cnt'], orient='index')
ent_nltk_df = pd.DataFrame.from_dict(ent_nltk_dict, columns=['cnt'], orient='index')
ent_nltk_types_df.sort_values(by='cnt', ascending=False, inplace=True)
ent_nltk_df.sort_values(by='cnt', ascending=False, inplace=True)

In [29]:
# ТОП-20 популярных NER в combine_df датасете
ent_nltk_df.head(20)

                   cnt
Yoyour             145
Yoyou              141
Will               100
New                 74
Us                  53
Delete Old          43
Happy               43
Orlando             42
Forward             35
Libtard             33
Father              32
Cold                32
Sad                 29
Great               28
Been                27
Grateful            27
Lot                 26
Vicinity Of Their   25
Good                24
Love                23

In [30]:
# Самый популярный тип NER - DATE
ent_nltk_types_df.head(5)

                cnt
PERSON        12208
ORGANIZATION   5640
GPE            1841
FACILITY        441
LOCATION         28

С помощью nltk выяснить: какие персоны и организации самые обсуждаемые в train и test датасетах? вывести ТОП-20 самых популярных. Действительно ли в топ вошли только персоны и организации или есть мусор?

In [31]:
# Так как nltk обнаруживает именованные сущности только если они написаны с заглавной буквы, 
# нужно первые буквы всех слов в train и test перевести в верхнй регистр
train_nltk = train.title()
test_nltk = test.title()

In [32]:
train_person_dict = {}
train_org_dict = {}

for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(train_nltk))):
  if hasattr(chunk, 'label'):
    if chunk.label() == 'PERSON':
      add_to_dict(train_person_dict, (' '.join(c[0] for c in chunk)))
    if chunk.label() == 'ORGANIZATION':
      add_to_dict(train_org_dict, (' '.join(c[0] for c in chunk)))

In [33]:
# Для удобства преобразуем словари в датафреймы
train_person_df = pd.DataFrame.from_dict(train_person_dict, columns=['cnt'], orient='index')
train_org_df = pd.DataFrame.from_dict(train_org_dict, columns=['cnt'], orient='index')
train_person_df.sort_values(by='cnt', ascending=False, inplace=True)
train_org_df.sort_values(by='cnt', ascending=False, inplace=True)

In [34]:
# Топ-20 обсуждаемых персон в train_lntk
train_person_df.head(20)

                       cnt
Yoyou                  139
Will                   100
Delete Old              43
Happy                   38
Forward                 35
Libtard                 33
Father                  31
Grateful                27
Been                    27
Sad                     26
Gon                     20
Libtard Sjw Liberal     18
Model Love Yoyou Take   18
Strong Source           18
Good                    17
Hard                    16
Ready                   15
Gorilla Simulator       15
Great                   15
Him                     14

In [35]:
# Топ-20 обсуждаемых организаций в text_lntk
train_org_df.head(20)

                                        cnt
Vicinity Of Their                        25
Fathers                                  21
Lot                                      20
Well Deletetweets                        18
Vast Expanse Of Mountains                18
House                                    16
All                                      14
Work Conference                          14
Same                                     12
No                                       11
Are                                      10
Happiness                                10
Into                                     10
Weekend                                  10
Just                                      9
Best                                      9
Development Organizations Work Mindset    9
Work                                      8
Most                                      8
Summer                                    8

In [36]:
test_person_dict = {}
test_org_dict = {}

for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(test_nltk))):
  if hasattr(chunk, 'label'):
    if chunk.label() == 'PERSON':
      add_to_dict(test_person_dict, (' '.join(c[0] for c in chunk)))
    if chunk.label() == 'ORGANIZATION':
      add_to_dict(test_org_dict, (' '.join(c[0] for c in chunk)))

In [37]:
# Для удобства преобразуем словари в датафреймы
test_person_df = pd.DataFrame.from_dict(test_person_dict, columns=['cnt'], orient='index')
test_org_df = pd.DataFrame.from_dict(test_org_dict, columns=['cnt'], orient='index')
test_person_df.sort_values(by='cnt', ascending=False, inplace=True)
test_org_df.sort_values(by='cnt', ascending=False, inplace=True)

In [38]:
# Топ-20 обсуждаемых персон в test_lntk
test_person_df.head(20)

                       cnt
Yoyou                  132
Will                    97
Happy                   43
Forward                 40
Delete Old              34
Father                  32
Ready                   26
Libtard                 24
Grateful                23
Good                    22
Been                    20
Sad                     19
Gon                     18
Trump                   18
Strong Source           18
Gorilla Simulator       16
Feel                    15
Model Love Yoyou Take   15
Malevote                15
Wait                    14

In [39]:
# Топ-20 обсуждаемых организаций в test_lntk
test_org_df.head(20)

                           cnt
Vicinity Of Their           23
Vast Expanse Of Mountains   22
Lot                         21
Happiness                   20
All                         19
Best                        18
Same                        15
House                       15
Work Conference             15
Only                        13
No                          12
Republican                  12
Fathers                     11
Most                        11
Hate                        11
Well Deletetweets           10
First                       10
World                        9
Fuck                         9
Work                         9

## Задание 3

Какая из библиотек по вашему лучше отработала? Сравните качество полученных most_common NER и количество распознаных NER.

Лучше отработала библиотека SPACY. NLTK распознала много ложных сущностей из-за приведения первой буквы каждого слова в верхний регистр. Но без этого она вообще не выявляет ни одной сущности.